*{
  font-family: 'Noto Sans KR', sans-serif;
  background-color: rgb(246, 177, 16);
  padding : 10px 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 20px;
}


a {
  text-decoration: none;
  color: whitesmoke;
  text-align: center;
}

.App {
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

h1{
  align-items : center;
  padding : 10px;
  margin-left:13px;
}

.header {
  position: relative;
}

.header .menu {
  position: relative;
  top: 10px;
  padding: 10px 0 50px 0;
  align-items: center;
  margin : auto;
  margin-left : 30px;
}

.header .link {
  background-color: #533a004e;
  color : white;
  padding : 10px 20px  10px 20px;
  font-size:17px;
  font-weight:500;
  border-radius: 11px;
  margin-right : 20px;
}

.list_category {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

.lists {
  margin: 18px;
  margin-bottom:3px;
  width: 27%;
  font-weight: lighter;
  line-height: 40px;
  border-radius: 10px;
  text-align: center;
}

.list_category span {
  font-size: 150%;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}

.list_category a {
  background-color: whitesmoke;
  border-radius: 10px;
  display: block;
  padding: 28px 0;
  font-weight: bolder;
  line-height: 35px;
  color: rgb(17, 13, 13);
  font-size : 16px;
}




.btn_del {
  margin-left: 100px;
  color: #fff;
  background-color: firebrick;
  width : fit-content;
  padding : 12px;
  padding-top : 7px;
  padding-bottom: 7px;
  font-size: 13px;
  text-align: center;
  margin-top: -10px;
}



button {
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  border: 0 none;
  border-radius: 6px;
  margin-top:20px;
  padding: 10px 20px;
  color: #fff;
  background-color: rgb(51, 43, 7);
  width : 70px;
}

.input_area {
  margin-bottom: 10px;
}

::placeholder{
  color:rgba(245, 245, 245, 0.741);
  font-weight: lighter;
  padding-left : 8px;
}

.input_area label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.input_area input {
  width: 380px;
  height: 38px;
  font-size: 16px;
  padding: 0 10px;
  border : none;
  background-color : rgba(53, 39, 39, 0.366);
  color : whitesmoke;
  border-radius : 5px;
}

.input_area select {

  width: 400px;
  height: 38px;
  padding: 0 10px;
  font-size: 16px;
  background-color: rgba(53, 39, 39, 0.366);
  color: rgba(245, 245, 245, 0.841);
  font-weight: lighter;
  border: none;
  border-radius: 5px;
}


p{
  font-size: 14px;
  margin-top:3px;
}

h2{
  font-size : 18px;
  border :rgba(17, 13, 13, 0.305) solid 3px;
  border-radius: 10px;
  background-color:rgba(216, 144, 10, 0.741);
  color : rgba(17, 13, 13, 0.829);
  width:max-content;
  padding : 10px;
  padding-top:5px;
  padding-bottom: 5px;
  margin:auto;
  margin-top : 30px;
  
}
.about {
  display : flex;
  align-items: center;
  justify-content: center;
  margin-top : 30px;
}

.visited{
  display : block;
}

.index{
  text-align: left;
  font-size: 17px;
  width: 40%;
  margin-left : 100px;

}

.bold{
  font-weight:600;
  background-color: rgba(216, 144, 10, 0.741);
  width:max-content;
  height:max-content;
  padding:0px 7px 2px 7px;
  border-radius: 2px;
  margin-left : 10px;
  margin-right: 10px;
}

input[type=checkbox] {
  zoom: 1.4;
  accent-color: rgb(85, 55, 12);
}



@media only screen and (max-width:800px) {
  
  .list_category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .lists {
    padding: 10px;
    margin: 12px;
    width: 40%;
    font-weight: lighter;
    line-height: 40px;
    border-style: none;
    border-radius: 10px;
    text-align: center;
  }
  
  .App{
    margin:0px;
  }
}

.lists a:hover{
  background-color: rgba(53, 39, 39, 0.658);
  color : whitesmoke;
  
}

.header .link:hover{
  background-color: #533a00b7;
}

.header .link:focus{
  border: 2.5px solid #f7efe8 ;
}

a:hover{
  color :#533a00ed;
}

h2:hover{
  border-color :rgb(57, 39, 8);
}